<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/45936820-75c2-4ded-b0ef-323ea28365e3/resourcegroups/InvoTechUsers/providers/Microsoft.Web/sites/InvoTechLicensingApp20210819025517</ResourceId>
    <ResourceGroup>InvoTechUsers</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://invotechlicensing.azurewebsites.net/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>invotechlicensingapp20210819025517.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>InvoTechLicensingApp20210819025517</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$InvoTechLicensingApp20210819025517</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=invotechsystems.database.windows.net;Initial Catalog=InvoTechSystems;Persist Security Info=True;User ID=Invodbuser@invotechsystems;Password=Invo980O" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="InvoTechLicensingApp.ApplicationDbContext, InvoTech Licensing App" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="constrMaster" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=invotechsystems.database.windows.net;Initial Catalog=master;Persist Security Info=True;User ID=invoadmin@invotechsystems;Password=Invo980O" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\constrMaster_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=invotechsystems.database.windows.net;Initial Catalog=master;Persist Security Info=True;User ID=invoadmin@invotechsystems;Password=Invo980O" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="constr" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=invotechsystems.database.windows.net;Initial Catalog=InvoTechSystems_Staging;Persist Security Info=True;User ID=Invodbuser@invotechsystems;Password=Invo980O" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\constr_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=invotechsystems.database.windows.net;Initial Catalog=InvoTechSystems_Staging;Persist Security Info=True;User ID=Invodbuser@invotechsystems;Password=Invo980O" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)constr-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)constrMaster-Web.config Connection String" />
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=invotechsystems.database.windows.net;Initial Catalog=InvoTechSystems;Persist Security Info=True;User ID=Invodbuser@invotechsystems;Password=Invo980O</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>